body {
    margin: 0;
}

.container {
    display: inline-block;
    width: 800px;
    float: left;
    background-color: red;
    margin-left: calc((100% - 800px) / 2)
}

.left-column {
    display: inline-block;
    float: left;
    width: 40%;
    height: 200px;
    background-color: blue;
}

.right-column {
    width: 60%;
    height: 200px;
    float: left;
}