body {
    background-image: url("./img/kalnelis.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.maza {
    float: left;
    width: 25%;
    height: 70vh;
    margin: 15vh 0 15vh 20%;
    color: white;
    background-color: rgb(158,252,203,1);
    background-image: url("./img/kalnelis.jpg");
    background-size: 25.5vw 70.5vh;
    background-blend-mode: darken;
    opacity: 0.8;
}
h1 {
    padding: 1.8vh 0 0 4vw;
    font-size: 3vw;
    letter-spacing: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
a {
    color: white;
    text-decoration: none;
}
p {
    display: inline;
}
footer {
    padding-left: 4vw;
    font-size: 1vw;
    position: absolute;
    top: 79vh;
}
div {
    float: left;
    width: 35%;
    height: 76vh;
    margin: 12vh 20% 12vh 0;
    background-color: white;
}
form {
    padding-left: 5vw;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img {
    margin: 3vh 2vw 0 27vw;
}
label {
    display: block;
    font-size: 0.8vw;
    padding: 6vh 0 1vh 0;
}
input {
    display: block;
    border: none;
    border-bottom: 1px solid gray;
    width: 23vw;
}
form>p {
    display: inline;
    color: black;
}
input[type=submit] {
    display: inline-block;
    border: none;
    width: 6vw;
    margin: 8vh 1vw 0 0;
}
.signin {
    color: blue;
}