body, html {
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .blur {
    background-image: url("./img/kalnelis.jpg");
    filter: blur(10px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 
    margin: 
  }